/**** Styles ****/

/* Init */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* To occupy full space vertically */
html, body, div.squares {
    height: 100%;
}

body {
    background-color: cornsilk;
    font-family: monospace;
}

button {
    padding: 16px 48px;
    background-color: cornsilk;
    border-radius: 50%;
    margin: 10px 0;
}

/* To create a DIV square to contain grids */
div.squares {
    margin-bottom: 10px;
    height: 100%;
    aspect-ratio: 1;
}

div.square {
    background-color: white;
}

div.squares, div.square {
    border: 1px solid black;
}

div.square:hover {
    background-color: burlywood;
}

/**** Flex ****/

/* Flex Body vertical */
body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Flex Grid */
div.squares {
    display: flex;
    flex-wrap: wrap;
}

div.square {
    flex: 1 0 auto;
}